@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
  }
  
  
  :root {
    --primary-bg-color: #141313;
    --secondary-bg-color: #4390f5;
    --orther-bg-color: #1066d7;
  
    --primary-text-color: #343a40;
    --secondary-text-color: #6c757d;
    --tittle-text-color: #ff8000;
    --orther-text-color: #4390f5;
    --text-on-bg-color: #fff;
  
    --overlay-bg-color: rgba(0, 0, 0, 0.4);
  
  }

.posting_cate form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.posting_cate .category_selecting{
    display: flex;
    gap: 20px;
}

.posting_cate .category_tittle {
    background-color: var(--orther-bg-color);
    background-color: var(--orther-text-color);
    color: var(--text-on-bg-color);
    font-size: 1.5rem;
    padding: 5px 10px;
}

.category-form , #category{
    transition: all .3s ease-in;
}
.posting_cate .category-form div{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.posting_cate .category-form div label{
    margin-top: 15px;
}

.posting_cate .category-form div input {
    height: 40px;
    border-width: 1px;
    border-radius: 3px;
}


.posting_cate .category-form div textarea {
height: 100px;
}

.posting_cate button{
    margin:10px 0;
    padding: 7px 15px;
    border-radius: 5px;
    border-width: 1px;
    background-color: var(--orther-bg-color);
    color: var(--text-on-bg-color);
}



