* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none !important;
}


:root {
  --primary-bg-color: #141313;
  --secondary-bg-color: #4390f5;
  --orther-bg-color: #1066d7;

  --primary-text-color: #343a40;
  --secondary-text-color: #6c757d;
  --tittle-text-color: #ff8000;
  --orther-text-color: #4390f5;
  --text-on-bg-color: #fff;

  --overlay-bg-color: rgba(0, 0, 0, 0.4);

}
/* default styles */



.zed_sotories_holder,.footer_wrapper, .all_rights {
  max-width: 960px;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 3px;
  min-width: 260px !important;
}

.navbar-toggler{
  padding: 2px 5px !important;
  border-color: var(--orther-text-color) !important; 
}

.navbar-toggler-icon{
  
}

p {
  font-size: 0.9rem !important;
  padding-left: 3px;
}


.card,
img {
  border-radius: 0 !important;
}

a{
	color: black !important;
}




img {
  height: 100% !important;
  width: 100% !important;
}


.fa-whatsapp{
  font-size: 1.2rem;
}

.landing_page .authors_details small{
  color: var(--orther-text-color) !important;
}

@media screen and (min-width:767px) {
  .borders{
    border-left: 5px solid transparent;
  }
}

.card {
  box-shadow: 1px 1px 5px -4px rgba(0,0,0,1);
-webkit-box-shadow: 1px 1px 5px -4px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 5px -4px rgba(0,0,0,1);
border-width: .7px !important;
}


.card:hover{
  border: 1px solid rgba(0,0,0,.5) !important;
  transition: all .3s ease-in;
  box-shadow: 1px 1px 10px -4px rgba(0,0,0,1);
-webkit-box-shadow: 1px 1px 10px -4px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 10px -4px rgba(0,0,0,1);
border-radius: 3px !important;
}

.card:hover .card-title, .card:hover .second_section_post_tittle, .card:hover  a {
  color:#ff8000 !important;
  color:#4390f5 !important;
  transition: all .3s ease-in;

}

.authors_details p small{
  color: var(--secondary-text-color) !important;
}


/* nav bar */

.logo_name {
  font-size: 1.4rem !important;
  font-weight: bold;
}

.initial_logo_name {
  color: var(--tittle-text-color);
}

nav .navbar_lists {
  text-transform: uppercase;
  font-size: 0.8rem !important;
}

nav .navbar_lists li a:hover {
  color: var(--orther-text-color);
}

/* starting body  hoders sections */


.main_home_poster {
  height: 350px;
}

.orther_pages_landing .card-title {
  margin: 0;
  padding: 10px;
  color: white; /* Optional: Change text color */
  z-index: 100 !important;
  
}


.aside_normal_poster {
  height: 270px;
}

@media screen and (min-width: 767px) {
  .main_home_poster {
    height: 445px;
  }

  .aside_normal_poster {
    height: 220px;
  }
}


.asides_posters {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
}



/* .landing_page {
  height: 400px;
}
.main_home_poster {
  height: 404px;
}

.aside_normal_poster {
  height: 200px;
}
 */


/* .normal_poster {
  height: 200px;
}

.top_trending {
  height: 250px;
}

.category_trending {
  height: 100px;
}

.add_poster {
  height: 270px;
}

.footer_card {
  height: 300px;
} */

.section_tittles,
.add_bg {
  background-color: var(--secondary-bg-color);
  color: var(--text-on-bg-color);
  height: 35px;
  display: flex;
  align-items: center;
}

.add_bg {
  background-color: var(--orther-bg-color);
}

/* starting posts  landing_page*/


.post_details {
  display: flex !important;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
}

.landing_page .post_details .post_category_tittle {
  background-color: var(--secondary-bg-color);
  width: fit-content;
  padding: 4px 2px;
  font-size: 0.75rem !important;
}


.accordion-button{
  background-color: #0C75FB !important;
  /* margin-bottom: .5rem; */
}

.accordion-item{
  margin-bottom: .4rem;
}

.accordion-button:focus {
  box-shadow: none !important;
  background-color: #ff8000 !important;
  transition: all .3s ease-in-out;
}


.landing_page .post_details .authors_details {
  display: flex !important;
  gap: 10px;
  color: var(--orther-text-color) !important;
}

/* post text on home is not visible */
.landing_page .post_details .post_text {
  display: none;
}

/* testing css */
.poster {
  position: relative;
  overflow: hidden;
}

.poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg-color);
  z-index: 1;
}

.post_details {
  z-index: 2 !important;
}


/* second setion */


.second_section .post_details .authors_details {
  display: flex !important;
  gap: 10px;
  color:var(--secondary-text-color);
}

.second_section p{
  color: var(--secondary-text-color);
  color:var(--primary-text-color);
}

.second_section .post_details{
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}


.second_section .second_section_post_tittle{
  max-height: 50px;
  font-size: 1.2rem;
  margin-top: 10px;

}
.second_section .second_section_post_text{
  max-height: 70px;
  max-height: 90px;
  overflow: hidden;
}

.second_section .post_para_details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.normal_poster {
  height: 250px;
  position: relative;
}

@media screen and (min-width:767px) {
  .normal_poster {
    height: 180px;
  }
}


.second_section .post_category_tittle{
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--orther-text-color);
  color: var(--text-on-bg-color);
  padding: 3px 2px;
}

.second_section .card{
  margin-bottom: 8px;
}



.top_trending_post{
  flex-direction: column !important;
}


.top_trending_post .second_section_post_text{
  display: none;
}


.second_section .top_trending_post .second_section_post_tittle{
  max-height: 50px;
  font-size: 1rem;

}
.second_section .top_trending_post  .second_section_post_text{
  max-height:45px;
  overflow: hidden;

}

.whats_trending_post{
  display: flex !important;
  background-color: #000;
  width: 100%;
}

.whats_trending_post h1{
  width: 100%;
  display: inline !important;
}

/* category tranding */

.category_trending img{
  height: 100px !important;
}


.category_trending .second_section_post_text{
  display: none;
}

.category_trending .second_section_post_tittle{
  max-height: 30px;
  overflow: hidden;
  font-size: .75rem;
}

 
 .second_section_post_tittle a{
display:block;
   text-transform: lowercase !important;
}


 .second_section_post_tittle a:hover{

 color:var(orther-bg-color) !important;
 z-index:1000;
 }
 



.second_section_post_tittle a::first-letter{
display:block;
text-transform: uppercase !important;
}


.category_trending .post_details .authors_details {
  display: flex !important;
  gap: 5px;
  color: var(--orther-text-color) !important;
}


.category_trending .post_details .authors_details p{
  font-size: .7rem !important;
  max-height: 20px;
  overflow: hidden;
  color: var(--primary-text-color) !important;
}

.category_trending .post_category_tittle {
  font-size: .65rem !important;

}

.category_trending .category_trending_posters img{
  height:75px !important;
}


@media screen  and (max-width:767px){
  .category_trending .category_trending_posters img{
    height:200px !important;
  }
}


.card-text{
  text-align: start !important;
}

.advertisements img{
  min-height: 300px;
}

.advertisements .add_links{
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap:wrap;
}


/* footer */

footer{
  background-color: var(--primary-bg-color);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: .9rem;
  min-width: 260px !important;
}

footer .all_rights{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:800px){
  footer .all_rights{
    flex-direction: row;
  }
}

@media screen and (max-width:600px){
  footer .all_rights{
    flex-direction: column;
  }
  
}


.footer_wrapper{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  gap: 30px;
  margin: 30px auto;
}


/* first styles */
.footer_wrapper .first{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer_wrapper .first .have_questions{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_wrapper h3{
  color: var(--orther-text-color);
  font-size: 1.3rem;
  letter-spacing: 1.3px;
}

.first .have_questions ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.first .have_questions ul li{
  padding: 0 10px;
  color: #fff;
}

.first .have_questions ul i{
  color: #fff;
  align-items: center;
  display: inline-block;
  padding: 0 0px;
  margin-right: 15px;
}

/* first then icons */

.footer_wrapper .first .icons{
  display: flex;
  align-items: center; 
}



.footer_wrapper .first .icons a i{
  color: #fff;
  display: block;
  line-height: 35px;
}


.footer_wrapper .first .logo p{
  margin: 10px 0;
}

.footer_wrapper .doc_logo {
  font-size: 1.5rem;
  color: var(--main-color);
  margin-bottom: 20px;
}

.footer_wrapper :is(#special, .icon) {
  color: var(--primary-color);
  align-self: center;
}

/* second styles */

.footer_wrapper .second{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer_wrapper .second .links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer_wrapper  .second .links ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_wrapper li a{
  cursor: pointer;
  color: #fff;
}

.footer_wrapper .second .links ul li{
  list-style-type: none;
}

.footer_wrapper .second .fa-solid{
  margin-right: 7px;
  font-size: .6rem;
}

/* fourth */

.footer_wrapper .fourth{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.footer_wrapper .fourth ul li{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer_wrapper .fourth ul li i{
  display: inline-block;
  margin-right: 10px;
}

.footer_wrapper .fourth .subscribe form{
  display: flex;
  flex-direction: column;
}

.fourth .subscribe form :is(input, button){
  height: 45px;
  border: none !important;
  margin: 8px 0;
  font-size: 1rem;
  border-radius: 12px;
}

.fourth .subscribe form input{
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    text-align: center;
}

.fourth .subscribe form button{
  background-color: var(--orther-bg-color);
  color: var(--text-on-bg-color);
  font-weight: 500;
  border-radius: 3px;
}

footer ul{
  padding-left: 5px;
}

footer a {
  font-size: .95rem !important;
}

/* conffessions */

@media screen and (max-width:767px) {
  .orther_pages_landing{
    height: fit-content !important;
  }
  
}




@media screen and (max-width:767px) {
  .orther_pages_landing img{
    height: 350px !important;
    }
    
}

@media screen and (max-width:600px) {
  .orther_pages_landing img{
    height: 250px !important;
    }
    
}


@media screen and (min-width:768px) {
  .orther_pages_landing img{
    height: 450px !important;
    }
    
}


.orther_pages_landing .card-img-overlay.testing {
  text-align: center;
  background: rgba(0, 0, 0, .2);
  z-index: 1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}


.orther_pages_landing .card-img-overlay.testing h5{
  font-size: 3rem !important;
}

@media screen and (max-width:600px) {
  .orther_pages_landing .card-img-overlay.testing h5{
    font-size: 2rem !important;
  }
}
@media screen and (max-width:400px) {
  .orther_pages_landing .card-img-overlay.testing h5{
    font-size: 1.5rem !important;
  }
}
@media screen and (max-width:300px) {
  .orther_pages_landing .card-img-overlay.testing h5{
    font-size: 1rem !important;
  }
}



/* about */

.killer{
  padding: 0 !important;
  margin:0 auto !important;
}


.accordion-item  input, .accordion-item textarea{
  border-color: var(--secondary-text-color) !important;
  
}


/* what to hide */

.contact_details , .author_location{
  display: none;
}




/* orther styles */


.ad_portion .ad_links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: .7rem;
}
.ad_portion img{

}


footer a{
		color: rgba(255, 255, 255, 0.8) !important;
}



.footer_wrapper .fourth .subscribe form{
  display: flex !important;
  flex-direction: column !important;
}

.fourth .subscribe form :is(input, button){
  height: 45px !important;
  border: none !important;
  margin: 8px 0 !important;
  font-size: 1rem !important;
  border-radius: 12px !important;
}
